#html{
    background-color: rgb(228, 161, 61);
    color: rgb(239, 242, 245);
}
#css{
    background-color: rgb(69, 163, 240);
    color: rgb(239, 242, 245);
}
#js{
    background-color: rgb(233, 230, 62);
    color: rgb(239, 242, 245);
}
body{
    background-color: rgb(211, 216, 144);
    color: rgb(239, 242, 245);
}
#certificate{
    background-color: rgb(224, 156, 238);
    color: rgb(124, 135, 145);
}